<ng-container *ngIf="(car$ | async) as car">
  <div class="wrapper">
    <app-header [hasBackButton]="true" [hasSearchButton]="false"></app-header>
    <mat-card class="d-flex flex-column">
      <img class="img-fluid" src="{{ car.picture | imgSrc }}" />
      <!-- <img class="img-fluid" src="assets/automobile-1209732_1920.jpg" /> -->
      <div class="car-info ">
        <div>
          <p class="model">{{ car.model }}</p>
          <p class="year">{{ car.year | date: 'yyyy' }}</p>
          <p class="brand">{{ car.brand }}</p>
          <p class="car-price">{{ car.price | currency }}</p>
        </div>
        <button
          class="compare-btn"
          [matMenuTriggerFor]="comparingOptions"
          color="primary"
          mat-raised-button
        >
          Set Car to compare
        </button>
      </div>
    </mat-card>
  </div>

  <mat-menu #comparingOptions="matMenu">
    <button mat-menu-item (click)="setForFirstInComparasion(car)">
      set for first position
    </button>
    <button mat-menu-item (click)="setForSecondInComparasion(car)">
      set for second position
    </button>
  </mat-menu>
</ng-container>
