.wrapper {
    width: 100vw;
    height: 100vh;

    .model {
        margin-bottom: 5px;
        color: #4a4a4a;
        font-size: 1.3rem;
        font-weight: 500;
    }

    .img-fluid {
        object-fit: cover;
        max-height: 44vh;
    }

    .brand {
        color: #9b9b9b;
        font-size: 0.96rem;
        margin-bottom: 20px;
    }

    .year {
        font-weight: 400;
    }

    p {
        margin: 20px 0;
    }
}

mat-card {
    min-height: fit-content;
}

@media (min-width: 768px) {
    .wrapper {
        background-image: linear-gradient(#3f51b5 50%, white 50%);

        mat-card {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

@media (max-width: 767px) {
    .wrapper {
        display: flex;
        flex-direction: column;

        mat-card {
            display: flex;
            flex-direction: column;
            padding: 0;
            flex: 1;

            .car-info {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                flex-grow: 1;
                padding: 10px;
            }
        }
    }
}
