mat-card {
    min-height: 212px;
    padding: 0;
    cursor: pointer;
}

.wrapper {
    padding: 5px;
    transition: opacity 0.3s ease-in-out;

    &:hover {
        opacity: 0.85;
    }
}

.car-image {
    position: relative;
    height: 140px;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.car-model {
    font-size: 1.05rem;
    color: black;
    font-weight: 400;
}

.car-year {
    position: absolute;
    top: 0px;
    left: 1px;
    background: black;
    color: #f0abe5;
    border-radius: 10px;
    padding: 2px 6px;
    font-size: 0.6rem;
}

.footer {
    min-height: 100px;
    padding: 10px;
    font-size: 0.9rem;
    color: #8f1e1b;

    p {
        margin: 0;
    }
}
